# Compiled Python files
__pycache__/
*.pyc

# Logs
*.log

# Local development files
venv/
*.env

# Docker files
.dockerignore
docker-compose.yml
docker-compose.override.yml

# Project dependencies
venv/
env/
env.bak/
*.egg-info/
dist/
build/
*.egg

# Miscellaneous
*.DS_Store
*.pyo
*.bak
*.swp
*~
.idea/
.idea_modules/
.vscode/
